
<div class="row mt-4 mb-2">
  <div class="col-6">
    <h2>Maintenance managers</h2>
  </div>
  <div class="col-6 text-end">
    <button class="btn btn-sm btn-info create-position" 
                    (click)="openModal(template)">Create user</button>
  </div>
</div>

<div class="row">
  <ag-grid-angular
      style="height: 450px;"
      class="ag-theme-alpine"
      [frameworkComponents]="frameworkComponents" 
      [rowData]="rowData"
      [columnDefs]="columnDefs" 
      [defaultColDef]="defaultColDef" 
      [autoGroupColumnDef]="autoGroupColumnDef"
      [gridOptions]="gridOptions"
      [enableRangeSelection]="true"
      [animateRows]="true"
      [pagination]="true"
      [suppressMovableColumns]="true" 
      [suppressMovableColumns]="true" 
      (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>


<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create user</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-create-user (addUserEvent)="addUser($event)"></app-create-user>
    </div>
</ng-template>

  