<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Gestionnaire maintenance</a>

    <div class="navbar-collapse" id="navbarColor01" *ngIf="isMaintenanceManager  && currentUser">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/anomalies">Anomalies</a>
        </li>
      </ul>
    </div>

    <button class="btn btn-primary my-2 my-sm-0" *ngIf="currentUser" type="submit" (click)="logout(template)">Log out</button>
  </div>
</nav>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>