/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

.ag-header-cell-text {
    display: block  !important;
    margin: 0 auto !important;
    font-size: medium;
}
  
